<script>
    $(function(){
        $(".element").typed({
            strings: ["{{ site.description }}^5000", "{{ site.funny1  }}^2000", "<script>alert(1)</" + "script>^3000", "{{ site.funny3 }}^2000", "{{ site.funny4 }}"],
	    contentType: 'text',
            typeSpeed: 0
        });
    });
</script>

<div class="content">

    {% if site.github_fork %}
    	<a href="https://github.com/{{ site.github_fork }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    {% endif %}

    {% if site.front_img %}
    	<img src="{{ site.front_img_path }}" id="fullscreen">
    {% endif %}

    {% if site.avatar %}
        <img src="{{ site.avatar_img_path }}" id="avatar">
    {% endif %}

    <h1>{{ site.name }}</h1>
    <h3><span class="element">{{ site.description }}</span></h3>

        <ul>
            {% if site.github_username %}
            <li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
            {% endif %}
            {% if site.twitter_username %}
            <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span class="description">Twitter</span></a></li>
            {% endif %}
            <!-- {% if site.blog_url %}
            <li><a class="fa fa-2x fa-tags" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="description">Blog</span></a></li>
            {% endif %} -->
            {% if site.tumblr_username %}
            <li><a class="fa fa-2x fa-tags" href="http://{{ site.tumblr_username }}.tumblr.com"><span class="description">Blog</span></a></li>
            {% endif %}
            {% if site.medium_username %}
            <li><a class="fa fa-2x fa-medium" href="https://medium.com/@{{ site.medium_username }}"><span class="description">Medium</span></a></li>
            {% endif %}
            {% if site.email %}
            <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
            {% endif %}
            <!--
            {% if site.vuln_url %}
            <li><a class="fa fa-2x fa-folder" href="{{ site.baseurl }}{{ site.vuln_url}}"><span class="description">Vulns</span></a></li>
            {% endif %}
            -->
            {% if site.about_url %}
            <li><a class="fa fa-2x fa-question-circle" href="{{ site.about_url}}"><span class="description">About</span></a></li>
            {% endif %}
        </ul>
</div>
